C 0 0 "RADIATOR_ELECTRODE" 0 0 0 0 60 0 L
X "PIN_TEXT" "RADIATOR_ELECTRODE" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 1100 -1000 "DUMMY_PAD_1" 1100 -1000 0 0 60 0 L
X "PIN_TEXT" "DUMMY_PAD_1" 1130 -770 90 0.00 60 0 0 0 0 0 1 0 74
L 1100 -800 1100 -1000 -1 0
C 2200 0 "FEED_POINT" 2200 0 0 0 60 0 R
X "PIN_TEXT" "FEED_POINT" 1970 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 2000 0 2200 0 -1 0
C 1100 1000 "DUMMY_PAD_2" 1100 1000 0 0 60 0 R
X "PIN_TEXT" "DUMMY_PAD_2" 1130 770 90 0.00 60 0 0 2 0 0 1 0 74
L 1100 800 1100 1000 -1 0
L 200 800 2000 800 -1 0
L 2000 -800 2000 800 -1 0
L 2000 -800 200 -800 -1 0
L 200 800 200 -800 -1 0
P "$LOCATION" "?" 2050 970 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

